@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
:root{
  --color-primary: #4E598C;
  --color-secondary: #70A288;
  --color-black: #000100;
  --color-black-2: #0F0A0A;
  --color-accent: #F9C784;

  --padding-section-tb: 3rem;
}

/***********************---GLOBAL CSS START---******************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 3px solid red; */
}

body{
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

img,
video{
  max-width: 100%;
  display: block;
}

section,
footer{
  padding-block: var(--padding-section-tb);
}

.container{
  width: 90%;
  margin-inline: auto;
}

/***********************---GLOABL CSS START---******************************/

/***********************---NAVBAR CSS START---******************************/

.nav{
  background-color: var(--color-primary);
  color: white;
}

.nav-container{
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.hamburger img{
  width: 32px;
}

.cart, .hamburger{
  cursor: pointer;
}

.cart img{
  width: 32px;
}

.nav-list{
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.nav-list-open{
  padding: 1rem 0;
  max-height: 1000px;
  transition: all 0.5s ease-in;
}

.nav-link{
  text-decoration: none;
  display: block;
}

.nav-item{
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem 0;
  color: white;
}

.active{
  box-shadow: inset 0px -3px white;
  border: none;
}

.nav-item:hover{
  box-shadow: inset 0px -3px white;
}

.signout{
  background-color: var(--color-black);
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.signout:hover{
  box-shadow: none;
  background-color: var(--color-black-2);
}

.signout-m{
  display: block;
}

.signout-d{
  display: none;
}

.logo{
  cursor: pointer;
  font-family: 'Kelly Slab', cursive;
}

@media (min-width: 720px){
  .nav{
    position: relative;
  }

  .hamburger{
    display: none;
  }

  .nav-list{
    max-height: 1000px;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .signout-m{
    display: none;
  }

  .nav-content{
    display: flex;
    align-items: center;
    width: 70%;
  }

  .logo{
    order: 2;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }

  .signout{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .signout-d{
    display: block;
    padding: 0.5rem;
  }
}

/***********************---NAVBAR CSS END---******************************/

/***********************---HERO CSS START---******************************/

.hero{
  /* min-height: 100vh; */
  background-color: var(--color-secondary);
}

/***********************---HERO CSS END---******************************/

/***********************---FOOTER CSS START---******************************/
.footer{
  background-color: var(--color-primary);
  color: white;
}

.footer-content{
  padding: 0.5rem 0;
}

.footer-logo{
  margin-bottom: 1rem;
  font-family: 'Kelly Slab', cursive;
}

.footer-item{
  padding: 0.5rem 0;
  list-style: none;
}

.footer-item:hover{
  cursor: pointer;
}

.copyright{
  margin-top: 0.5rem;
}

.newsletter-heading{
  font-size: 1.5rem;
}

.newsletter{
  display: flex;
  margin-top: 1rem;
}

.newsletter input[type=text]{
  padding: 1rem 0.55rem;
  border-radius: 8px 0 0 8px;
  border: none;
  width: 70%;
}

.newsletter input[type=text]:focus{
  outline: 1px solid var(--color-black);
}

.newsletter input[type=button]{
  width: 30%;
  border-radius: 0 8px 8px 0;
  border: none;
  padding: 1rem 0.55rem;
  background-color: var(--color-black);
  color: white;
}

.newsletter input[type=button]:hover{
  background-color: var(--color-black-2);
  cursor: pointer;
}

@media (min-width: 720px){
  .footer-content__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content{
    width: 33%;
  }

  .footer-list{
    padding-left: 3rem;
  }
}

/***********************---FOOTER CSS END---******************************/

@media (min-width: 720px){
  .container{
    width: 80%;
    max-width: 1400px;
  }

  .flex{
    display: flex;
  }

  .flex--center{
    justify-content: center;
    align-items: center;
  }
}